body {
    background-color: #EAEBED;
    background-image: url('shark.jpg');

}

#display {
    border: 1px black solid;
    width: 300px;
    height: 100px;
    font-size: 50px;
    margin: auto;
    margin-bottom: 20px;
    border: black solid 5px;
    border-radius: 5px;
    background-color: white;
}

#numpad {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 180px;
    margin: 0 auto;
}

div>button {
    width: 100px;
    height: 60px;
    border: black 2px solid;
    border-radius: 5px;
    background-color: #A3BAC3;
}

#clear {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

#plastic {
    background-color: gray;
    width: 350px;
    height: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    border: black solid 5px;
    margin-top: 100px;
}